container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python team10_project/manage.py migrate"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python team10_project/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python team10_project/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "team10_project.settings"
    PYTHONPATH: "/opt/python/current/app/team10_project:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "team10_project/team10_project/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
      "/static/": "/opt/python/current/app/team10_project/www/static/"

packages:
  yum:
    git: []
    postgresql94-devel: []
